body{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

body{
    background-color: #FEFAE0;
}

@font-face {
    font-family: 'Heavi';
    src: url('fonts/Heavitas.ttf') format(truetype);
}
@font-face {
    font-family: 'nexa';
    src: url('fonts/Nexa-Heavy.ttf') format(truetype);
}
@font-face {
    font-family: 'ayuga';
    src: url('fonts/AyugaDEMO.ttf') format(truetype);
}
@font-face {
    font-family: 'inter-black';
    src: url('fonts/InterBlack900.otf') format(truetype);
}

.none-dis{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.none-dis a{
    text-decoration: none;
    color: black;
    font-family: nexa;
}

.font-name{
    font-family: Heavi;
    letter-spacing: 2px;
}
.font-name2{
    padding-left: 27%;
    text-align: left;
    font-family: ayuga;
    font-size: 80px;
    line-height: 70px;
    color: #7A1717;
    margin-bottom: -15px;
}

.font-name3{
    font-family: inter-black;
    color: #FB8500;
    padding-left: 27%;
    margin-bottom: 30px;
}

.deskripsi{
    font-family: Cambria;
    font-size: 95%;
    padding-left: 27%;
}

.section-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4%;
    gap: 25%;
    }

.btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 27%;
    bottom: -20px;
    gap: 100px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 10%;
    padding-left: 40px;
    background-color: #FFB703;
    border-radius: 50px;
    font-size: 15px;
    border: none;
    font-family: inter-black;
    color: black;
}

.btn:hover{
    background-color: #ffb8035e;
}

.sepasih{
    margin-top: 3%;
}

.explaining{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    font-family: inter-black;
    font-size: 70%;
    padding: 2%;
    gap: 3%;

    p{
        text-align: justify;
        font-family: cambria;
        font-size: 15px;
        font-weight: 505;
    }
}

.bts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0F1314;
}

.project{
    padding-top: 1.5%;
    text-align: center;
    color: white;
    font-family: inter-black;
}

.bts2{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    color: white;
    
    p{
        padding-bottom: 10%;
    }
}

.bts3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project2{
    padding-top: 1.5%;
    text-align: center;
    color: #0F1314;
    font-family: inter-black;
}

.sekolah{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}